.box {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 15px;
    margin: 10px 0;

    @media (max-width: 480px) {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 2fr;
    }
    @media (max-width: 320px) {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 3fr;
    }
}
.title {
    color: blue;
    font-size: 18px;
}
